* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: .8fr 2fr .8fr;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    width: 143px;
    height: 40px;
    margin-left: 44px;

}

.menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #151515;
    font-family: 'Jost';
    margin: 0 20px;
}

.nav-icons {
    color: #000;
    font-size: 13px;
    font-family: 'Jost* 500';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    display: grid;
    grid-template-areas:
        "A B C"
        "D E F";
    justify-content:space-around;
    align-content: center;
    margin:0 30px 0 60px;
}

.nav-icons i {
    margin-left: 4px;
}
.search,.bag{
    margin-top: 2px;
}
.ri-search-2-line {
    grid-area: A;
}

.search {
    grid-area: D;
}

.ri-user-3-line {
    grid-area: B;
}

.ri-shopping-bag-line {
    grid-area: C;
}

.profile {
    grid-area: E;
}

.bag {
    grid-area: F;
}

.banner img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}

.collage {
    margin: 20px 174.500px 20px 174.500px;
    height: 1000px;
}

.collage-1,
.collage-2 {
    margin-top: 13px;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.image-title {
    position: absolute;
    padding: 15px 18px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Jost';
    font-weight: 500;
    color: #fff;
    bottom: 30px;
    cursor: pointer;
    transition: bottom ease-in-out .3s;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}


.collage-1 img {
    width: 322.656px;
    height: 406.547px;
}

black-shade {
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #111);
    height: 2rem;
    width: auto;
}

happy-feet {
    -webkit-box-shadow: inset -2px -109px 120px -18px rgb(0 0 0 / 90%);
    -moz-box-shadow: inset -2px -109px 120px -18px rgba(0, 0, 0, 0.9);
    box-shadow: inset -2px -109px 120px -18px rgb(0 0 0 / 90%);
}

.happy-feet {}


.collage-2 img {
    width: 322.656px;
    height: 236.062px;
}

.collage-3 {
    margin-top: 26px;
}

.collage-3 img {
    width: 1000px;
    height: 333px;
}

.bottom-banner {
    position: relative;
}

.image-title:hover {
    bottom: 50px;
}

.h-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 4.5rem 0 1.5rem 0;
}

.container-footer {
    margin: 0 49.5px 0 49.5px;
    font-family: 'Jost';
}

.container-footer h1 {
    font-size: 24px;
    color: #000;
    font-family: 'Jost';
    font-weight: 600;
    margin: 0px 0 15px;
}

.container-footer p {
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.footer-section-1 {
    margin: 30px 0 0;
    padding: 30px 0 0;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.contact-container {
    margin: 0 49.5px 0 49.5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
}

.footer-contact {
    font-size: 13px;
    color: #151515;
    font-family: 'Jost';
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.contactt {
    margin-left: 15px;
}

.in-line {
    display: flex;
    margin-top: 10px;
}

.Toll-Free {
    margin-top: 20px;
}

.in-line p {
    font-family: 'Jost';
    font-size: 13px;
    color: #454545;
    padding: 0 0 0 2px;
    line-height: 22px;

}

.contact-2fr {
    margin-top: 20px;
}

.footer-tail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px 0 77px;
}

.cin {
    font-size: 13px;
    font-family: 'Jost';
    color: #454545;
    line-height: 22px;
}

.sigin {
    display: flex;
    flex-direction: column;
}

.formlabel {
    position: absolute;
    left: 0;
    top: 6px;
    margin: 0;
    font-size: 15px;
    pointer-events: none;
    color: #a6a6a6;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.footer-tail{
    margin-bottom: 2rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 0;
    font-size: 1rem;
    line-height: 20px;
    color: #151515;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #272323;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
}

.footer-section2 {
    width: 1250px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer-links {
    margin: 20px 0 0 10rem;
    padding: 20px 0;
    display: grid;
    grid-template-columns:repeat(7,1fr);
    height: 142px;
    font-family: 'Jost';
}
.footer-links div{
    color: #454545;
    font-size: 13px;
}
.footer-links img{
    width: 65px;
}
.footer-links div h6{
    text-transform: uppercase;
    margin-bottom:15px;
    font-size: 13px;
    color: #151515;
}
.footer-end{
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
}